<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/main.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <title>Home</title>
</head>
<body style="background-color: #e8e8e8;">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary justify-content-between">
        <nav class="navbar navbar-expand-md navbar-dark bg-primary justify-content-center">
            <a class="navbar-brand abs" href="#">QRCodeGenerator</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="collapsingNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/IngaleOmkar">Github</a>
                    </li>
                </ul>
            </div>
        </nav>
    </nav>

    <div class="container" style="padding: 5px">
        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-8">
                <div class="search">
                    <i class="fa fa-search"></i>
                    <input type="text" name = "inputText" class="form-control" id="inputText" placeholder="https://github.com/IngaleOmkar">
                    <button class="btn btn-primary" type="submit" id="generate">Generate</button>
                </div>
                
            </div>
        </div>
    </div>

    <div class="center-screen">
        <div id="qrcode" style="width: 200px; height: 200px"></div>
    </div>

    <script>
       document.getElementById("generate").onclick = function() {
            var inputText = document.getElementById("inputText").value;
            document.getElementById("qrcode").innerHTML = "";
            var qrcode = new QRCode("qrcode", {
                text: inputText,
                width: 200,
                height: 200,
                colorDark : "#000000",
                colorLight : "#ffffff",
                correctLevel : QRCode.CorrectLevel.H
            });
        };
    </script>

    <nav class="navbar fixed-bottom navbar-light bg-light">
		<a class="navbar-brand" href="#">© Omkar Ingale</a>
	</nav>

</body>
</html>